<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties> 
    	<Property name="LOG_HOME">${env:LOG_HOME:-/Users/dante/Documents/Project/java-world/hna/caas/caas-tomcat/logs}</Property>  
    </Properties>
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <RollingFile name="DailyFileLog" fileName="${LOG_HOME}/${env:MY_POD_NAME:-s2i}.log"
            filePattern="${LOG_HOME}/$${date:yyyy-MM}/${env:MY_POD_NAME:-s2i}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
    	<logger name="org.apache" level="INFO" />
        <logger name="org.dante.springboot" level="INFO" />
        
        <Root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="DailyFileLog"/>
        </Root>
    </Loggers>
</Configuration>